!!!5
/[if lt IE 7] <html class="no-js lt-ie9 lt-ie8 lt-ie7">
/[if IE 7] <html class="no-js lt-ie9 lt-ie8">
/[if IE 8] <html class="no-js lt-ie9">
%html.no-js
  %head
    %meta{:charset => "utf-8"}
    %meta{:content => "IE=edge,chrome=1", "http-equiv" => "X-UA-Compatible"}
    
    -# To set titles and descriptions globally and for each individual page, see /DOCS.md
    %title= page_title
    %meta{:content => page_description, :name => "description"}
    
    %meta{:content => "width=device-width", :name => "viewport"}
    
    -#Favicon Options:
    -#Update favicon_base.png in /source and middleman-favicon-maker will generate all the versions you need on 'middleman build'
    -#OR, place favicon.ico and apple-touch-icon.png in /source and deactivate :favicon_maker in config.rb
    
    = javascript_include_tag "vendor/modernizr-2.6.1.min"
    <link rel="stylesheet" type="text/css" href="stylesheets/site.css" media="screen, print" />
    <link rel="stylesheet" type="text/css" href="stylesheets/bootstrap.css" media="screen, print" />
    <link rel="stylesheet" type="text/css" href="stylesheets/resume.css" media="screen, print" />
    <link rel="stylesheet" type="text/css" href="stylesheets/font-awesome.css" media="screen, print" />
    <link href='http://fonts.googleapis.com/css?family=Lato:300,400,600,700' rel='stylesheet' type='text/css' media='screen, print'>
    /= stylesheet_link_tag "site", "bootstrap", "resume"
  %body
    /[if lt IE 7] <p class=chromeframe>Your browser is <em>ancient!</em> <a href="http://browsehappy.com/">Upgrade to a different browser</a> or <a href="http://www.google.com/chromeframe/?redirect=true">install Google Chrome Frame</a> to experience this site.</p>
    .container#paper
      .initials
        %h1 jd
        %span computer science
      %h1#name Joshua Dover
      = yield
    %footer  
      .container
        .row
          .span2.offset5
            %div{:style => "margin: auto"}
              %a{:title => "Download a PDF", :href => "JoshuaDoverResume.pdf"}
                %i.icon-download
              %a#print{:title => "Printer Friendly View"}
                %i.icon-print
    
    = javascript_include_tag "//ajax.googleapis.com/ajax/libs/jquery/1.8.0/jquery.min.js"
    :javascript
      window.jQuery || document.write('<script src="javascripts/vendor/jquery-1.8.0.min.js"><\/script>')
    = javascript_include_tag "bootstrap", "site"
    
    :javascript
      var _gaq=[['_setAccount','UA-XXXXX-X'],['_trackPageview']];
      (function(d,t){var g=d.createElement(t),s=d.getElementsByTagName(t)[0];
      g.src=('https:'==location.protocol?'//ssl':'//www')+'.google-analytics.com/ga.js';
      s.parentNode.insertBefore(g,s)}(document,'script'));