#paper.container
  / .initials
  /   %h1= Resume.info["initials"]
  /   %span= Resume.info["subtitle"]
  #info
    %h1#name= Resume.info["name"]
    %p.info
      = Resume.info["email"]
      &bull;
      = Resume.info["phone"]
  .resume-sections
    - Resume.sections.each do |section|
      .row
        .span2.title
          %h3= section["title"]
        .span9.content
          - section["items"].each do |item|
            %p.lead
              %a{:href => item["url"], :title => item["tooltip"]}= item["title"]
              %span.resume-subtitle= item["subtitle"]
              %span.resume-subtitle.resume-subtitle-right= item["date"]
            %ul
              - item["bullets"].each do |bullet|
                %li= bullet
